body
  background-image: url('/background.jpg')
  background-attachment: fixed
  backdrop-filter: blur(0.8)

#title
  position: relative
  margin: auto
  text-align: center
  color: white
  font-size: 64px
#map
  position: relative
  height: 500px
  width: 90%
  background-color: transparent
  margin: auto
  margin-top: 3%

#infocard
  color: white
  backdrop-filter: blur(8px)
  height: 115px
  width: 15%
  margin: .5%
  border-radius: 25px
  float: left